$bg-first-color: #889fe7;

$bg-second-color: #fff;

$text-color: #fff;

$date-text-color: #889dea;

$checkbox-color: #889dea;
$checkbox-shadow-color: rgb(136, 157, 234, 0.25);

$message-base-text-color: #3f3f3f;
$message-edit-text-color: #bbbbbb;
$message-fulfilled-text-color: #bbbbbb;

$button-color: #88eaa9;

$underline-color: #dcdcdc;

$overlay-color: rgba(0,0,0,0.7);
